*.suo
MxmFacebookFriendsCheck/MxmFacebookFriendsCheck.Droid/bin/
MxmFacebookFriendsCheck/MxmFacebookFriendsCheck.Droid/obj/
MxmFacebookFriendsCheck/MxmFacebookFriendsCheck.iOS/obj/
MxmFacebookFriendsCheck/MxmFacebookFriendsCheck.WinPhone/obj/
*.userprefs
MxmFacebookFriendsCheck/MxmFacebookFriendsCheck.iOS/bin/
